<%- include("./include/_header") %>
    <link rel="stylesheet" href="/css/style.css">

    <title>관리자페이지</title>
</head>
<body>
    <div class="content">
        <section class="admin">
            <h4>수정사항을 선택해주세요</h4>
            <div class="admincon">
                모든 사관
                <a href="/boardAdd">공지사항 게시</a>
                <a href="/boardUpdate">공지사항 수정</a>
                <a href="/boardDelete">공지사항 삭제</a>*논의 후 추후 업데이트 예정
            </div>
            <div class="admincon">
                보급사관
                <a href="/addFood">식단표 게시</a>
            </div>
            <div class="admincon">
                기관사관
                <a href="/addDayduty">학생당직표 게시</a>
                <a href="/addNightduty">안전당직표 게시</a>
            </div>
            <div class="admincon">
                총무부서
                <a href="/addCloth">검수창고 재고 현황 게시</a>
            </div>
            <div class="admincon">
                탈모정보 변경<br>
                현재상태: 
                <% if (hat.status === 'green') { %>
                    탈모 가능
                <% } else { %>
                    탈모 불가능
                <% } %>
            <form action="/admin" method="POST">
                <button type="submit" name="status" value="green">탈모 가능</button>
                <button type="submit" name="status" value="red">탈모 불가능</button>
            </form>
            </div>  
        </section>
    </div>

<%- include("./include/_footer") %>