<%- include("./include/_header") %>
    <link rel="stylesheet" href="/css/style.css">

    <title>생활백서</title>
</head>
<body>
    <div class="content">
        <div class="info">
            <a href="/team">조직도</a><br>
        </div>
        <div class="info">
            <a href="http://kmou.btl-fm.com/">FMS신청</a><br>
        </div>
        <div class="info">
            <a href="/login">로그인</a><br>    
        </div>
    </div>

<%- include("./include/_footer") %>