<%- include("./include/_header") %>

    <title>생활백서</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/weather.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/_footer.css">

    <script src="/js/bus.js"></script>
    <script src="/js/weather.js"></script>
    <script src="/js/food.js"></script>
</head>
<!--부서 별 활동 이행 내역-->
<body>
    <div class="content">
        <div class="container">
            <section class="weather">
                <div id="weather-info">
                    <div id="weather-icon" class="weather-icon"></div>
                    <div>
                        <div id="temperature">Loading...</div>
                        <div id="weather-description"></div>
                    </div>
                </div>
            </section>
            <section class="hat">
                탈모
            </section>
        </div>

        <section class="bus">
                <div style="font-size: 20px;">190번</div>
                <div id="result"></div>
                <!-- 페이지 로드 시 자동으로 업데이트 시작 -->
            <script>
                window.onload = function() {
                    updateBusInfo();
                };
            </script>
        </section>

        <div id="myModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImg">
        </div>
        <div class="image-container">
            <div class="image-box" onclick="openModal('/img/식단표.jpg', '식단표')">
                <div>식단표</div>
                <img src="/img/식단표.jpg" alt="식단표">
            </div>
            <div class="image-box" onclick="openModal('/img/학생당직표.jpg', '학생당직표')">
                <div>학생당직표</div>
                <img src="/img/학생당직표.jpg" alt="학생당직표">
            </div>    
            <div class="image-box" onclick="openModal('/img/안전당직표.jpg', '안전당직표')">
                <div>안전당직표</div>  
                <img src="/img/안전당직표.jpg" alt="안전당직표">
            </div>
        </div>

    <!--꿀팁, 검창(재고표 포함), 선사정보, 학사일정 및 조직도(비상연락처, 기타에 포함), 각종 시간, -->
        <section class="icon_list">
            <div class="icon_container">
                <a href="/tip" class="icon">
                    <img src="/img/sun.png" alt="생활꿀팁" style="width: 20px; height: 20px;">
                </a>
                <span>생활꿀팁</span>
            </div>
            <div class="icon_container">
                <a href="#" class="icon">
                    <img src="/img/sun.png" alt="검수창고" style="width: 20px; height: 20px;">
                </a>
                <span>검수창고</span>
            </div>
            <div class="icon_container">
                <a href="#" class="icon">
                    <img src="/img/sun.png" alt="선사정보" style="width: 20px; height: 20px;">
                </a>
                <span>선사정보</span>
            </div>
            <div class="icon_container">
                <a href="/calc" class="icon">
                    <img src="/img/sun.png" alt="실습점수계산기" style="width: 20px; height: 20px;">
                </a>
                <span>실습점수계산기</span>
            </div>
            <div class="icon_container">
                <a href="https://tis.kmou.ac.kr/nxui/index.html" class="icon">
                    <img src="/img/sun.png" alt="종정시" style="width: 20px; height: 20px;">
                </a>
                <span>종합정보시스템</span>
            </div>
            <div class="icon_container">
                <a href="http://kmou.btl-fm.com/" class="icon">
                    <img src="/img/sun.png" alt="FMS" style="width: 20px; height: 20px;">
                </a>
                <span>FMS</span>
            </div>
            <div class="icon_container">
                <a href="#" class="icon">
                    <img src="/img/sun.png" alt="#" style="width: 20px; height: 20px;">
                </a>
                <span>#</span>
            </div>
            <div class="icon_container">
                <a href="#" class="icon">
                    <img src="/img/sun.png" alt="#" style="width: 20px; height: 20px;">
                </a>
                <span>#</span>
            </div>
        </section>

        <section class="notice">
            <div class="notice_head">
                <h2>공지사항</h2>
                <a href="/boardadd" style="text-decoration: none; font-size: 20px;">+</a>
            </div>
            <div class="notice_body">
                <div class="notice_list">
                    <ul>
                        <% boards.forEach (datas => { %>
                            <li><a href="#"><%= datas.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    
<%- include("./include/_footer") %>