<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    gfdasfda
    <ul>
        <% users.forEach (allrst => { %>
            <li> <%= allrst.name %> </li>
        <% }); %>
        </ul>
    
        <% products.forEach (product => { %>
            <li> <%= product.name %> </li>
            <li> <%= product.quantity %> </li>
        <% }); %>
    </ul>

</body>
</html>