<%- include("./include/_header") %>
    <link rel="stylesheet" href="/css/style.css">

    <title>식사시간</title>
</head>
<body>
    <div class="content">
        <h4>식사시간</h4>
        ※ 아침, 점심, 저녁 식사 시에 규정된 복장을 착용<br>
        ※ 식수조사에 성실히 참여하여 식사<br>
        ※ 식사시간에 따른 식사 순서를 정당한 사유 없이 어길 경우, 벌점 지적<br><br>

        ■ 2024학년도 1학기 식사 시간<br>
        ○ 평일<br>
        - 아침 : 07:50 ~ 08:30 <br>
        - 점심 : 11:50 ~ 12:30 ( 2부: 12:40 ~ 13:20) <br>
        - 저녁 : 17:30 ~ 18:30 <br><br>

        ○ 주말<br>
        - 아침 : 08:00 ~ 08:30 <br>
        - 점심 : 12:00 ~ 12:30 <br>
        - 저녁 : 17:00 ~ 17:30 <br>
        <img src="/img/foodtime.png" alt="식사시간표" style="width: 80%;"><br><br>
        
        <h4>온수/냉방 시간</h4>
        - 06:30 ~ 09:00<br>
        - 11:00 ~ 12:00<br>
        - 18:00 ~ 19:00<br>
        - 21:00 ~ 22:00<br>
        - 23:00 ~ 01:00<br><br>

        <h4>냉방(에어컨) 가동 시간</h4>
        주중, 주말 및 공휴일<br>
        - 아침 : 07:30 ~ 09:00<br> 
        - 점심 : 12:00 ~ 15:00<br>
        - 저녁 : 21:30 ~ 24:00<br><br>


        <h4>지도관 집무시간</h4>
        평일(월~금)<br>
        ※ 08:30 ~ 09:00<br>
        ※ 12:30 ~ 13:00<br>
        ※ 13:30 ~ 14:00<br>
        ※ 18:30 ~ 19: 00<br><br>

        주말 및 공휴일<br>
        ※ 지도관 집무시간 없음<br>
    </div>
    
<%- include("./include/_footer") %>