<%- include("./include/_header") %>
    <link rel="stylesheet" href="/css/style.css">

    <title>규정</title>
</head>
<body>
    <div class="content">
        <div class="slider-container">
            <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
            <div class="slider">
                <div class="slides">
                    <img src="/img/외박1.jpg" alt="">
                    <img src="/img/외박2.jpg" alt="">
                    <img src="/img/외박3.jpg" alt="">
                </div>
            </div>
            <button class="next" onclick="changeSlide(1)">&#10095;</button>
        </div>
        <div class="pagination">
            <a href="#" class="page-link">뭐할 때</a>
            <a href="#" class="page-link">뭐할</a>
            <a href="#" class="page-link">뭐할</a>
        </div>
    </div>

    <script src="/js/tip.js"></script>
<%- include("./include/_footer") %>