<%- include("./include/_header") %>

    <title>각종 표 게시</title>
</head>
<body>
    <h1>이미지 업로드</h1>
    <form action="/uploadimg" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Upload</button>
    </form>
        
    <a href="/">돌아가기</a>
</body>
</html>