body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: none;
    /*color: #fff;*/
    display: flex;
    justify-content: flex-end; /* 메뉴를 오른쪽으로 정렬 */
    align-items: center;
    padding: 10px 20px;
    position: relative; /* 상대 위치 설정 */
    
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* 처음에는 메뉴가 숨겨져 있음 */
    position: absolute;
    top: 100%; /* 메뉴가 상단 바로 아래에서 시작 */
    right: 0; /* 오른쪽에서 시작 */
    background-color: #333;
    width: 200px; /* 메뉴 너비 설정 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 그림자 효과 추가 */
}

.menu li {
    padding: 10px 0;
    border-bottom: 1px solid #555; /* 항목 간 구분선 추가 */
}

.menu li:last-child {
    border-bottom: none; /* 마지막 항목의 구분선 제거 */
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}