.sunny {
    background-image: url('../img/sun.png');
}
.cloudy {
    background-image: url('../img/cloudy.png');
}
.rainy {
    background-image: url('../img/rainy.png');
}
.overcastclouds {
    background-image: url('../img/overcastclouds.png');
}