<link rel="stylesheet" href="/css/_footer.css">


<nav class="navbar">
    <ul>
        <li><a href="/">메인화면</a></li>
        <li><a href="/calendar">학사일정</a></li>
        <li><a href="/time">각종시간</a></li>
        <li><a href="/option">설정</a></li>
    </ul>
</nav>
</body>
</html>